<div class="mi-card mb-3">
    <div class="mi-header success">
      Change Password
    </div>
    <div class="mi-body">
      <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="Folder">Old Password</label>
              <input type="password" class="form-control" placeholder="Enter old password" formControlName="old_password">
              <p class="validation-error" *ngIf="iserror && changePasswordForm.get('old_password')?.invalid">Old password is
                required
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="Folder">New Password</label>
              <input type="password" class="form-control" placeholder="Enter new password" formControlName="new_password">
              <p class="validation-error" *ngIf="iserror && changePasswordForm.get('new_password')?.invalid">New password is
                required
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="Folder">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter confirm password" formControlName="confirm_password">
              <p class="validation-error" *ngIf="iserror && changePasswordForm.get('old_password')?.invalid">Old password is
                required
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="butn success mt-4">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  